body{
    background-color: black;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color:rgb(15, 46, 27)
}
p{
    color: white;
    font-family:"LOFT";
}
h1{
    color: rgb(251, 223, 122);
    text-align: center;
    padding: 8px;
    font-family: "LOFT";
}
.texto{
    border-left: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
}
@font-face{
    font-family: "LOFT";
    src: url("LOFT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.card{
    font-family: "LOFT";
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(8, 24, 14);
    align-items: center;
    background-color:rgb(15, 46, 27);
}
.imagem{
     object-fit: fill;
     height: 200px;
     width: 200px;
    border-radius: 10px;
    
}
.cards{
    display: flex;
    background-color: black;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}
.anel{
    text-align: center;
}
.h3{
   color: rgb(251, 223, 122);
   font-family: "LOFT"; 
   text-align: center;
}
.body{
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
