@font-face{
    font-family: "Gungeon";
    src: url("Fontes/enter-the-gungeon-small.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: "Gungeon";
}
hr{
    border: solid;
    border-color:rgb(255, 68, 63);
}
.textos{
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(184, 182, 182, 0.39);
    text-shadow: 3px 3px 5px black;
}
.intro{
    background-color: rgba(184, 182, 182, 0.39);
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 3px 3px 5px black;
}
.cards{
    text-shadow: 3px 3px 5px black;
    display: flex;
    flex-direction: line;
    align-items: center;
    gap: 50px;
}
.cards img{
    border-radius: 10px;
}
.titulos{
    color: rgb(255, 65, 131);
}
iframe{
    height: 200px;
    width: 400px;
    margin: 25px;
}
.cards img:hover{
    opacity: 0.5;
}
