div{
    background-color: rgb(134, 187, 233);
    border: 2px solid black;
    color: black;
    margin: 20px; 
    /* espaçamento externo, top, bottom, left, right. A ordem de informar é top, right, bottom, left. Pode simplesmente para colocar todas as quatro substituir a linha por Margin, ou colocar a primeira para top e bottom e a segunda para right e left*/
    padding: 10px;
    /* espaçamento interno, top, bottom, left, right. As mesmas regras aplicadas no Padding são aplicadas no Padding.*/
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    /*Serve para "esticar" a DIV até o final da página.*/
    opacity: 0.5; 
    /* Define qual o nível de transparência para algum elemento*/
    scale: 1;
    /* Define qual o tamanho de um elemento */
    transition: 0.3s;
    /* Define a transição do texto, como por exemplo, no Div:hover para quando passar o mouse, a transição ocorrer*/
}

div:hover{
 opacity: 100;
 }
/* Serve para definir atributos quando passar o mouse por cima*/

h1{
    text-align: center;
    background-color: rgb(134, 187, 233);
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin: 20px;
}

body{
    margin: 0; 
    /* Serve para definir por padrão margem.*/
   
}
