body{
    background-color: rgb(179, 237, 255);
    text-align: center;
    color: rgb(190, 162, 137);
}
@font-face{
    font-family: "animal";
    src: url("animal.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
.titulo img{
    height: 350px;
}
.texto{
    background-color: white;
    padding: 20px;
    margin: 50px;
    border: 5px solid  rgb(190, 162, 137);
    font-family: "animal";
}
hr{
    border: 2px dashed  rgb(190, 162, 137);
}
h2{
    font-family: "animal";
    color: white;
   -webkit-text-stroke: 2px rgb(190, 162, 137);
}
.aldeoes{
background-color: white;
    padding: 20px;
    margin: 50px;
    border: 5px solid  rgb(190, 162, 137);
    font-family: "animal";

}