body{
    background-color: black;
}
.titulo{
    display: flex;
    justify-content: center;
}
p{
    color: white;
    font-family:"LOFT";
}
h1{
    color: white;
    background-color: rgb(11, 51, 11);
    text-align: center;
    padding: 8px;
    font-family: "LOFT";
}
.texto{
    background-color: rgb(11, 51, 11);
    border-left: 5px;
    padding: 5px;
    text-align: center;
}
@font-face{
    font-family: "LOFT";
    src: url("./fontes/LOFT.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.card{
    font-family: "LOFT";
    color: white;
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    align-items: center;
}



.cards{
    display: flex;
    background-color: brown;
}