
@font-face{
    font-family: "SOTC";
    src: url("Fontes/CaslonAntique.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes texto2 {
  to {
    font-size: 20px;
    opacity: 1;
  }
}

@keyframes linha {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    height: 200px;
  }
}

@keyframes fadeIn2 {
    to {
        opacity: 1;
    }
}

@keyframes texto {
    to {
        font-size: 30px;
        opacity: 1;
    }
}

body{
    background-color: rgb(15, 15, 15);
    color: white;
    margin: 0;
    font-family: "SOTC";
}

.topo{
    opacity: 0;
    animation: fadeIn2 4.5s ease forwards;
    height: 50ch;
    width: auto;
    background-image: url(Imagens/paisagem_sotc.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}

.titulo{

    height: 10px;
    display: flex;
    justify-content: center;
    border-top: 40px solid transparent;
    opacity: 0;
    animation: fadeIn 5s ease forwards;

}

main{
    animation: texto 5.5s ease forwards;
    text-align: center;
    font-size: 20px;
    opacity: 0;
}

main h2{
    font-weight: normal;
}

.barra{
    animation: texto2 5.5s ease forwards;
    font-size: small;
    opacity: 0;
    height: auto;
    text-align: center;
}

.barra a{
  text-decoration: none;
  color: white;
}




